{% extends 'base.html' %}
{% load static %}
{% block title %}{{ single_blog.title }}{% endblock %}
{% load social_share %}
{% block content %}
    <!--  Page Header  -->
    <!--  class: image, round, hfixedlg, hfixedmd, hfixedsm  -->
    <div class="page-header" data-padding="top">
        <div class="container">
            <div class="row" data-padding="smbottom">
                <div class="col-12">
                    <div class="sectiontitle-element--center">
                        <h1 data-aos="fade-up" data-aos-delay="100" class="big">{{ single_blog.title }}</h1>
                        <br>
                        <br>
                        <time data-aos="fade-up"
                              data-aos-delay="400"
                              class="e-date"
                              datetime="2020-07-05T07:55:21+02:00">{{ single_blog.created_at }}</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  END Page Header  -->
    <!--  Page Content  -->
    <div class="page-content">
        <!--  Main Img  -->
        <section data-padding="bottom">
            <div class="container">
                <div data-aos="zoom-in" data-aos-duration="1000" class="row">
                    <div class="col-12">
                        <div class="wrapimage-element">
                            <img data-unveil
                                 src="#"
                                 data-src="{{ single_blog.featured_image.url }}"
                                 data-src-retina="{{ single_blog.featured_image.url }}"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Main Img  -->
        <!--  Text  -->
        <section data-padding="bottom">
            <div class="container">
                <div data-aos="fade-up" class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <div class="sectiontitle-element--full">
                            <h2>{{ single_blog.title }}</h2>
                            <p>
                                {{ single_blog.description | safe }}
                            </p>
                        </div>
                        <div class="fb-comments"
                             data-href="http://127.0.0.1:8000/blog/single_blog.id/"
                             data-width=""
                             data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Text  -->
        <!--  Share Section  -->
        <section data-padding="xsbottom">
            <div class="container">
                <div data-aos="fade" class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <div class="social-element--round">
                            <div class="title">Share this article</div>
                            <ul>
                                <li>
                                    {% post_to_facebook object_or_url '<i class="fab fa-facebook-f"></i>' %}
                                </li>
                                <li>
                                    {% post_to_twitter "Multisewa Blog: {{ object.title }}. Check it out!" object_or_url '<i class="fab fa-twitter"></i>' %}
                                </li>
                                <li>
                                    {% post_to_telegram "Multisewa Blog: {{ detail.title }}. Check it out!" object_or_url '<i class="fab fa-telegram"></i>' %}
                                </li>
                                <li>
                                    {% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp"></i>' %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Share Section  -->
        <!--  Articles  -->
        <section data-padding data-bg="grey">
            <div class="container">
                <div data-aos="fade" class="row">
                    <div class="col-12">
                        <div class="sectiontitle-element--center">
                            <h2>Latest Articles</h2>
                        </div>
                    </div>
                </div>
                <div class="row" data-padding="xstop">
                    <!--  Single Article  -->
                    {% for blog in blogs %}
                        <div data-aos="fade" data-aos-delay="100" class="col-12 col-md-4">
                            <article class="rectangle-element--article--wide">
                                <div class="info">
                                    <div class="image">
                                        <img data-unveil
                                             src="#"
                                             data-src="{{ blog.featured_image.url }}"
                                             data-src-retina="{{ blog.featured_image.url }}"
                                             alt="">
                                    </div>
                                    <div class="text">
                                        <div class="meta--image">
                                            <div class="tags">
                                                <time class="e-date" datetime="2020-07-05T07:55:21+02:00">{{ blog.created_at }}</time>
                                            </div>
                                        </div>
                                        <h3>{{ blog.title }}</h3>
                                        <p>
                                            {{ blog.description | safe | truncatewords:40 }}
                                        </p>
                                        <a href="post.html" class="simple--underline">Read more..</a>
                                    </div>
                                </div>
                                <a href="post.html" class="link"></a>
                            </article>
                        </div>
                        <!--  END Single Article  -->
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--  END Articles  -->
    </div>
    <!--  END Page Content  -->
{% endblock %}
