{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--  Page Header  -->
    <!--  class: image, round, hfixedlg, hfixedmd, hfixedsm  -->
    <div class="page-header" data-padding>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <!--  Article Featured  -->
                    <article class="rectangle-element--article--wide--inline">
                        <div class="info">
                            <div class="image">
                                <img data-unveil
                                     src="#"
                                     data-src="{{ featured.featured_image.url }}"
                                     data-src-retina="{{ featured.featured_image.url }}"
                                     alt=""/>
                            </div>
                            <div class="text">
                                <div class="meta--image">
                                    <div class="tags">
                                        <time class="e-date" datetime="2020-07-05T07:55:21+02:00"><mark>{{ featured.created_at }}</mark></time
                                        >
                                    </div>
                                </div>
                                <h3>{{ featured.title }}</h3>
                                <p>
                                    {{ featured.description | safe |truncatewords:50 }}
                                </p>
                                <a href="{% url 'blog-detail' featured.slug %}"
                                   class="simple--underline">Continue reading..</a>
                            </div>
                        </div>
                        <a href="{% url 'blog-detail' featured.slug %}" class="link"></a>
                    </article>
                    <!--  END Article Featured  -->
                </div>
            </div>
        </div>
    </div>
    <!--  END Page Header  -->
    <!--  Page Content  -->
    <div class="page-content">
        <section data-padding="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sectiontitle-element--inline align-items-md-end"
                             data-padding="none">
                            <div class="wrapper">
                                <h2>New Blog Posts</h2>
                            </div>
                            <div class="wrapper articles-wrap">
                                <div class="navigation-element--border--round--light" data-padding="none">
                                    <div class="navigation justify-content-md-end">
                                        <div class="nav--prev">
                                            <i class="feather icon-arrow-left"></i>
                                        </div>
                                        <div class="nav--next">
                                            <i class="feather icon-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-padding="xs">
                    <div class="col-12">
                        <div class="articles-carousel owl-carousel">
                            <!--  Single Article  -->
                            {% for blog in blogs %}
                                <article class="rectangle-element--article--wide">
                                    <div class="info">
                                        <div class="image">
                                            <img data-unveil
                                                 src="#"
                                                 data-src="{{ blog.featured_image.url }}"
                                                 data-src-retina="{{ blog.featured_image.url }}"
                                                 alt=""/>
                                        </div>
                                        <div class="text">
                                            <div class="meta--image">
                                                <div class="tags">
                                                <time class="e-date" datetime="2020-07-05T07:55:21+02:00">{{ blog.created_at }}</time
                                                >
                                            </div>
                                        </div>
                                        <h3>{{ blog.title }}</h3>
                                        <p>
                                            {{ blog.description | safe | truncatewords:40 }}
                                        </p>
                                    <a href="post.html" class="simple--underline">Read more..</a
                                    >
                                </div>
                                {% comment %} </div> {% endcomment %}
                            </div>
                            <a href="{% url 'blog-detail' blog.slug %}" class="link"></a>
                        </article>
                    {% endfor %}
                    <!--  END Single Article  -->
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!--  END Page Content  -->
<div class="page-content">
    <section data-padding="bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sectiontitle-element--inline align-items-md-end"
                         data-padding="none">
                        <div class="wrapper">
                            <h2>Featured Blog Posts</h2>
                        </div>
                        <div class="wrapper articles-wrap">
                            <div class="navigation-element--border--round--light" data-padding="none">
                                <div class="navigation justify-content-md-end">
                                    <div class="nav--prev">
                                        <i class="feather icon-arrow-left"></i>
                                    </div>
                                    <div class="nav--next">
                                        <i class="feather icon-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-padding="xs">
                <div class="col-12">
                    <div class="articles-carousel owl-carousel">
                        <!--  Single Article  -->
                        {% for featuredblogs in featured_blogs %}
                            <article class="rectangle-element--article--wide">
                                <div class="info">
                                    <div class="image">
                                        <img data-unveil
                                             src="#"
                                             data-src="{{ featuredblogs.featured_image.url }}"
                                             data-src-retina="{{ featuredblogs.featured_image.url }}"
                                             alt=""/>
                                    </div>
                                    <div class="text">
                                        <div class="meta--image">
                                            <div class="tags">
                                            <time class="e-date" datetime="2020-07-05T07:55:21+02:00">{{ featuredblogs.created_at }}</time
                                            >
                                        </div>
                                    </div>
                                    <h3>{{ featuredblogs.title }}</h3>
                                    <p>
                                        {{ featuredblogs.description | safe | truncatewords:40 }}
                                    </p>
                                <a href="post.html" class="simple--underline">Read more..</a
                                >
                            </div>
                        </div>
                        <a href="{% url 'blog-detail' featuredblogs.slug %}" class="link"></a>
                    </article>
                    <!--  END Single Article  -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>
</div>
{% endblock %}
